USE [master]
GO
/****** Object:  Database [Store]    Script Date: 2/7/2022 8:05:37 AM ******/
CREATE DATABASE [Store]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Store', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Store.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Store_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Store_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Store].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Store]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2/7/2022 8:05:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 2/7/2022 8:05:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 2/7/2022 8:05:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 2/7/2022 8:05:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 2/7/2022 8:05:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 2/7/2022 8:05:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 2/7/2022 8:05:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 2/7/2022 8:05:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbCategory]    Script Date: 2/7/2022 8:05:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbCategory](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TbCategory] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbCustomer]    Script Date: 2/7/2022 8:05:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbCustomer](
	[CustomerId] [int] NOT NULL,
	[CustomerName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TbCustomer] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbDeliveryMan]    Script Date: 2/7/2022 8:05:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbDeliveryMan](
	[DeliveryManId] [int] NOT NULL,
	[DeliveryManName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TbDeliveryMan] PRIMARY KEY CLUSTERED 
(
	[DeliveryManId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbImage]    Script Date: 2/7/2022 8:05:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbImage](
	[ImageId] [int] IDENTITY(1,1) NOT NULL,
	[ImageName] [nvarchar](100) NOT NULL,
	[ItemId] [int] NOT NULL,
 CONSTRAINT [PK_TbImage] PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbItem]    Script Date: 2/7/2022 8:05:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbItem](
	[ItemId] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](100) NOT NULL,
	[SalesPrice] [decimal](18, 4) NOT NULL,
	[PurchasePrice] [decimal](18, 4) NOT NULL,
	[ImageName] [nvarchar](100) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[SubCategoryId] [int] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[CreationBy] [nvarchar](50) NOT NULL,
	[UpdationDate] [datetime] NOT NULL,
	[UpdationBy] [nvarchar](50) NOT NULL,
	[Notes] [nvarchar](max) NULL,
 CONSTRAINT [PK_TbItem] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbItemDiscount]    Script Date: 2/7/2022 8:05:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbItemDiscount](
	[ItemDiscountId] [int] IDENTITY(1,1) NOT NULL,
	[ItemId] [int] NOT NULL,
	[ImageName] [nvarchar](100) NOT NULL,
	[SalesPrice] [decimal](18, 4) NOT NULL,
	[DiscountPercent] [float] NOT NULL,
	[DiscountPrice] [decimal](18, 4) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
 CONSTRAINT [PK_TbItemDiscount] PRIMARY KEY CLUSTERED 
(
	[ItemDiscountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbMobileLogo]    Script Date: 2/7/2022 8:05:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbMobileLogo](
	[LogoId] [int] NOT NULL,
	[ImageName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](100) NULL,
	[LongDescription] [nvarchar](100) NULL,
 CONSTRAINT [PK_TbMobileLogo] PRIMARY KEY CLUSTERED 
(
	[LogoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbPurchaseInvoice]    Script Date: 2/7/2022 8:05:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbPurchaseInvoice](
	[InvoiceId] [int] NOT NULL,
	[InvoiceDate] [datetime] NOT NULL,
	[UpdationDate] [datetime] NOT NULL,
	[Notes] [nvarchar](max) NOT NULL,
	[SupplierId] [int] NOT NULL,
 CONSTRAINT [PK_TbPurchaseInvoice] PRIMARY KEY CLUSTERED 
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbPurchaseInvoiceItem]    Script Date: 2/7/2022 8:05:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbPurchaseInvoiceItem](
	[InvoiceItemId] [int] NOT NULL,
	[InvoiceId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[PurchasePrice] [decimal](18, 4) NOT NULL,
	[Quantitiy] [int] NOT NULL,
	[Notes] [nvarchar](max) NULL,
 CONSTRAINT [PK_TbPurchaseInvoiceItem] PRIMARY KEY CLUSTERED 
(
	[InvoiceItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbSalesInvoice]    Script Date: 2/7/2022 8:05:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbSalesInvoice](
	[InvoiceId] [int] NOT NULL,
	[InvoiceDate] [datetime] NOT NULL,
	[UpdationDate] [datetime] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[DeliveryManId] [int] NOT NULL,
	[Notes] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_TbInvoice] PRIMARY KEY CLUSTERED 
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbSalesInvoiceItem]    Script Date: 2/7/2022 8:05:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbSalesInvoiceItem](
	[InvoiceItemId] [int] NOT NULL,
	[InvoiceId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[SalesPrice] [decimal](18, 4) NOT NULL,
	[Quantitiy] [int] NOT NULL,
	[Notes] [nvarchar](max) NULL,
 CONSTRAINT [PK_TbSalesInvoiceItem] PRIMARY KEY CLUSTERED 
(
	[InvoiceItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbSlider]    Script Date: 2/7/2022 8:05:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbSlider](
	[SliderId] [int] IDENTITY(1,1) NOT NULL,
	[SliderImage] [nvarchar](100) NOT NULL,
	[Descreption] [nvarchar](100) NULL,
	[LongDescreption] [nvarchar](100) NULL,
 CONSTRAINT [PK_TbSlider] PRIMARY KEY CLUSTERED 
(
	[SliderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbSubCategory]    Script Date: 2/7/2022 8:05:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbSubCategory](
	[SubCategoryId] [int] IDENTITY(1,1) NOT NULL,
	[SubCategoryName] [nvarchar](50) NOT NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK_TbSubCategory] PRIMARY KEY CLUSTERED 
(
	[SubCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbSupplier]    Script Date: 2/7/2022 8:05:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbSupplier](
	[SupplierId] [int] NOT NULL,
	[SupplierName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TbSupplier] PRIMARY KEY CLUSTERED 
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20211217070646_SliderMig', N'5.0.12')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20211217090420_ItemDiscountRelation', N'5.0.12')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20211217153509_TbMobileLogo', N'5.0.12')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'8C9FBFC3-758D-40C6-81CE-B27C07C3F0CB', N'Admin', N'Admin', NULL)
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'f91837b7-2cf3-4dfb-ae87-a65d61bf4d4a', N'8C9FBFC3-758D-40C6-81CE-B27C07C3F0CB')
GO
SET IDENTITY_INSERT [dbo].[TbCategory] ON 

INSERT [dbo].[TbCategory] ([CategoryId], [CategoryName]) VALUES (1, N'Electronics')
SET IDENTITY_INSERT [dbo].[TbCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[TbImage] ON 

INSERT [dbo].[TbImage] ([ImageId], [ImageName], [ItemId]) VALUES (1, N'171A529C-BDC4-42FB-8395-3AE454704B3F.jpg', 1)
INSERT [dbo].[TbImage] ([ImageId], [ImageName], [ItemId]) VALUES (2, N'7EF28F53-63E0-45FD-B3FA-7E7E6E789CD3.jpg', 1)
INSERT [dbo].[TbImage] ([ImageId], [ImageName], [ItemId]) VALUES (3, N'424FB098-C839-4D33-A4B8-BD0391FCC8B9.jpg', 1)
GO
SET IDENTITY_INSERT [dbo].[TbImage] OFF
GO
SET IDENTITY_INSERT [dbo].[TbItem] ON 

INSERT [dbo].[TbItem] ([ItemId], [ItemName], [SalesPrice], [PurchasePrice], [ImageName], [CategoryId], [SubCategoryId], [CreationDate], [CreationBy], [UpdationDate], [UpdationBy], [Notes]) VALUES (1, N'Samsung Galaxy S21', CAST(15758.2700 AS Decimal(18, 4)), CAST(14758.2700 AS Decimal(18, 4)), N'171A529C-BDC4-42FB-8395-3AE454704B3F.jpg', 1, 1, CAST(N'2021-11-17T21:40:06.390' AS DateTime), N'Mohammed Mahmoud', CAST(N'2021-11-17T21:40:06.390' AS DateTime), N'Mohammed Mahmoud', NULL)
INSERT [dbo].[TbItem] ([ItemId], [ItemName], [SalesPrice], [PurchasePrice], [ImageName], [CategoryId], [SubCategoryId], [CreationDate], [CreationBy], [UpdationDate], [UpdationBy], [Notes]) VALUES (2, N'Samsung Galaxy A12', CAST(2389.0000 AS Decimal(18, 4)), CAST(2100.0000 AS Decimal(18, 4)), N'C361230C-C09F-4297-80E1-CED8C325C037.jpg', 1, 1, CAST(N'2021-11-17T21:43:43.747' AS DateTime), N'Mohammed Mahmoud', CAST(N'2021-11-17T21:43:43.747' AS DateTime), N'Mohammed Mahmoud', NULL)
INSERT [dbo].[TbItem] ([ItemId], [ItemName], [SalesPrice], [PurchasePrice], [ImageName], [CategoryId], [SubCategoryId], [CreationDate], [CreationBy], [UpdationDate], [UpdationBy], [Notes]) VALUES (3, N'Samsung Galaxy A72', CAST(6818.0000 AS Decimal(18, 4)), CAST(5818.0000 AS Decimal(18, 4)), N'4275C49F-3D9E-4049-98C1-1113E05E85F0.jpg', 1, 1, CAST(N'2021-11-17T21:46:17.237' AS DateTime), N'Mohammed Mahmoud', CAST(N'2021-11-17T21:46:17.237' AS DateTime), N'Mohammed Mahmoud', NULL)
SET IDENTITY_INSERT [dbo].[TbItem] OFF
GO
SET IDENTITY_INSERT [dbo].[TbItemDiscount] ON 

INSERT [dbo].[TbItemDiscount] ([ItemDiscountId], [ItemId], [ImageName], [SalesPrice], [DiscountPercent], [DiscountPrice], [StartDate], [EndDate]) VALUES (1, 8, N'588BEA48-38C5-4EAF-8BAE-4FC95C14C2B1.jpg', CAST(15479.0000 AS Decimal(18, 4)), 0.15, CAST(13423.0000 AS Decimal(18, 4)), CAST(N'2021-12-17T08:47:45.850' AS DateTime), CAST(N'2025-01-23T21:30:29.343' AS DateTime))
INSERT [dbo].[TbItemDiscount] ([ItemDiscountId], [ItemId], [ImageName], [SalesPrice], [DiscountPercent], [DiscountPrice], [StartDate], [EndDate]) VALUES (2, 32, N'66CD2823-5555-4968-B068-727634D9F070.jpg', CAST(25000.0000 AS Decimal(18, 4)), 0.1, CAST(22400.0000 AS Decimal(18, 4)), CAST(N'2021-12-17T08:47:45.850' AS DateTime), CAST(N'2025-01-23T21:30:29.343' AS DateTime))
INSERT [dbo].[TbItemDiscount] ([ItemDiscountId], [ItemId], [ImageName], [SalesPrice], [DiscountPercent], [DiscountPrice], [StartDate], [EndDate]) VALUES (3, 38, N'69E1CA84-5558-4240-B3D8-54B76841B145.jpg', CAST(9200.0000 AS Decimal(18, 4)), 0.2, CAST(8300.0000 AS Decimal(18, 4)), CAST(N'2021-12-17T08:47:45.850' AS DateTime), CAST(N'2025-01-23T21:30:29.343' AS DateTime))
SET IDENTITY_INSERT [dbo].[TbItemDiscount] OFF
GO
INSERT [dbo].[TbMobileLogo] ([LogoId], [ImageName], [Description], [LongDescription]) VALUES (1, N'3919F7C2-9AE4-4316-9A75-9ACD70BDA0BE.jpg', NULL, NULL)
INSERT [dbo].[TbMobileLogo] ([LogoId], [ImageName], [Description], [LongDescription]) VALUES (2, N'17937AE5-3570-4710-8503-56A50DBB5EBE.jpg', NULL, NULL)
INSERT [dbo].[TbMobileLogo] ([LogoId], [ImageName], [Description], [LongDescription]) VALUES (3, N'B71A5986-30B5-47E2-8B72-82DFGA763154.png', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[TbSlider] ON 

INSERT [dbo].[TbSlider] ([SliderId], [SliderImage], [Descreption], [LongDescreption]) VALUES (1, N'CA329423-48D8-4539-BB7A-61BBB1BAE552.jpg', NULL, NULL)
INSERT [dbo].[TbSlider] ([SliderId], [SliderImage], [Descreption], [LongDescreption]) VALUES (2, N'BBE04F75-E3E3-4A91-A972-0A04A90FF377.jpg', NULL, NULL)
INSERT [dbo].[TbSlider] ([SliderId], [SliderImage], [Descreption], [LongDescreption]) VALUES (3, N'3115B396-4A22-439A-94C0-84E86904FE9E.jpg', NULL, NULL)
SET IDENTITY_INSERT [dbo].[TbSlider] OFF
GO
SET IDENTITY_INSERT [dbo].[TbSubCategory] ON 

INSERT [dbo].[TbSubCategory] ([SubCategoryId], [SubCategoryName], [CategoryId]) VALUES (1, N'Samsung', 1)
INSERT [dbo].[TbSubCategory] ([SubCategoryId], [SubCategoryName], [CategoryId]) VALUES (2, N'Apple', 1)
INSERT [dbo].[TbSubCategory] ([SubCategoryId], [SubCategoryName], [CategoryId]) VALUES (3, N'Xiaomi', 1)
SET IDENTITY_INSERT [dbo].[TbSubCategory] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 2/7/2022 8:05:38 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 2/7/2022 8:05:38 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 2/7/2022 8:05:38 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 2/7/2022 8:05:38 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 2/7/2022 8:05:38 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 2/7/2022 8:05:38 AM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 2/7/2022 8:05:38 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TbCustomer]    Script Date: 2/7/2022 8:05:38 AM ******/
ALTER TABLE [dbo].[TbCustomer] ADD  CONSTRAINT [IX_TbCustomer] UNIQUE NONCLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TbDeliveryMan]    Script Date: 2/7/2022 8:05:38 AM ******/
ALTER TABLE [dbo].[TbDeliveryMan] ADD  CONSTRAINT [IX_TbDeliveryMan] UNIQUE NONCLUSTERED 
(
	[DeliveryManId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TbItemDiscount]    Script Date: 2/7/2022 8:05:38 AM ******/
ALTER TABLE [dbo].[TbItemDiscount] ADD  CONSTRAINT [IX_TbItemDiscount] UNIQUE NONCLUSTERED 
(
	[ItemDiscountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TbItemDiscount_ItemId]    Script Date: 2/7/2022 8:05:38 AM ******/
CREATE NONCLUSTERED INDEX [IX_TbItemDiscount_ItemId] ON [dbo].[TbItemDiscount]
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TbPurchaseInvoice]    Script Date: 2/7/2022 8:05:38 AM ******/
ALTER TABLE [dbo].[TbPurchaseInvoice] ADD  CONSTRAINT [IX_TbPurchaseInvoice] UNIQUE NONCLUSTERED 
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TbPurchaseInvoiceItem]    Script Date: 2/7/2022 8:05:38 AM ******/
ALTER TABLE [dbo].[TbPurchaseInvoiceItem] ADD  CONSTRAINT [IX_TbPurchaseInvoiceItem] UNIQUE NONCLUSTERED 
(
	[InvoiceItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TbInvoice]    Script Date: 2/7/2022 8:05:38 AM ******/
ALTER TABLE [dbo].[TbSalesInvoice] ADD  CONSTRAINT [IX_TbInvoice] UNIQUE NONCLUSTERED 
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TbSalesInvoiceItem]    Script Date: 2/7/2022 8:05:38 AM ******/
ALTER TABLE [dbo].[TbSalesInvoiceItem] ADD  CONSTRAINT [IX_TbSalesInvoiceItem] UNIQUE NONCLUSTERED 
(
	[InvoiceItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TbSubCategory]    Script Date: 2/7/2022 8:05:38 AM ******/
ALTER TABLE [dbo].[TbSubCategory] ADD  CONSTRAINT [IX_TbSubCategory] UNIQUE NONCLUSTERED 
(
	[SubCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT (N'') FOR [FirstName]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT (N'') FOR [LastName]
GO
ALTER TABLE [dbo].[TbItem] ADD  CONSTRAINT [DF_TbItem_CreationDate]  DEFAULT (getdate()) FOR [CreationDate]
GO
ALTER TABLE [dbo].[TbItem] ADD  CONSTRAINT [DF_TbItem_CreationBy]  DEFAULT ('Mohammed Mahmoud') FOR [CreationBy]
GO
ALTER TABLE [dbo].[TbItem] ADD  CONSTRAINT [DF_TbItem_UpdationDate]  DEFAULT (getdate()) FOR [UpdationDate]
GO
ALTER TABLE [dbo].[TbItem] ADD  CONSTRAINT [DF_TbItem_UpdationBy]  DEFAULT ('Mohammed Mahmoud') FOR [UpdationBy]
GO
ALTER TABLE [dbo].[TbItemDiscount] ADD  CONSTRAINT [DF_TbItemDiscount_StartDate]  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [dbo].[TbItemDiscount] ADD  CONSTRAINT [DF_TbItemDiscount_EndDate]  DEFAULT (getdate()+(60)) FOR [EndDate]
GO
ALTER TABLE [dbo].[TbPurchaseInvoice] ADD  CONSTRAINT [DF_TbPurchaseInvoice_UpdationDate]  DEFAULT (getdate()) FOR [UpdationDate]
GO
ALTER TABLE [dbo].[TbSalesInvoice] ADD  CONSTRAINT [DF_TbInvoice_UpdationDate]  DEFAULT (getdate()) FOR [UpdationDate]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[TbImage]  WITH CHECK ADD  CONSTRAINT [FK_TbImage_TbItem] FOREIGN KEY([ItemId])
REFERENCES [dbo].[TbItem] ([ItemId])
GO
ALTER TABLE [dbo].[TbImage] CHECK CONSTRAINT [FK_TbImage_TbItem]
GO
ALTER TABLE [dbo].[TbItem]  WITH CHECK ADD  CONSTRAINT [FK_TbItem_TbCategory] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[TbCategory] ([CategoryId])
GO
ALTER TABLE [dbo].[TbItem] CHECK CONSTRAINT [FK_TbItem_TbCategory]
GO
ALTER TABLE [dbo].[TbItem]  WITH CHECK ADD  CONSTRAINT [FK_TbItem_TbSubCategory] FOREIGN KEY([SubCategoryId])
REFERENCES [dbo].[TbSubCategory] ([SubCategoryId])
GO
ALTER TABLE [dbo].[TbItem] CHECK CONSTRAINT [FK_TbItem_TbSubCategory]
GO
ALTER TABLE [dbo].[TbItemDiscount]  WITH CHECK ADD  CONSTRAINT [FK_TbItemDiscount_TbItem_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[TbItem] ([ItemId])
GO
ALTER TABLE [dbo].[TbItemDiscount] CHECK CONSTRAINT [FK_TbItemDiscount_TbItem_ItemId]
GO
ALTER TABLE [dbo].[TbPurchaseInvoice]  WITH CHECK ADD  CONSTRAINT [FK_TbPurchaseInvoice_TbSupplier] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[TbSupplier] ([SupplierId])
GO
ALTER TABLE [dbo].[TbPurchaseInvoice] CHECK CONSTRAINT [FK_TbPurchaseInvoice_TbSupplier]
GO
ALTER TABLE [dbo].[TbPurchaseInvoiceItem]  WITH CHECK ADD  CONSTRAINT [FK_TbPurchaseInvoiceItem_TbItem] FOREIGN KEY([ItemId])
REFERENCES [dbo].[TbItem] ([ItemId])
GO
ALTER TABLE [dbo].[TbPurchaseInvoiceItem] CHECK CONSTRAINT [FK_TbPurchaseInvoiceItem_TbItem]
GO
ALTER TABLE [dbo].[TbPurchaseInvoiceItem]  WITH CHECK ADD  CONSTRAINT [FK_TbPurchaseInvoiceItem_TbPurchaseInvoice] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[TbPurchaseInvoice] ([InvoiceId])
GO
ALTER TABLE [dbo].[TbPurchaseInvoiceItem] CHECK CONSTRAINT [FK_TbPurchaseInvoiceItem_TbPurchaseInvoice]
GO
ALTER TABLE [dbo].[TbSalesInvoice]  WITH CHECK ADD  CONSTRAINT [FK_TbSalesInvoice_TbCustomer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[TbCustomer] ([CustomerId])
GO
ALTER TABLE [dbo].[TbSalesInvoice] CHECK CONSTRAINT [FK_TbSalesInvoice_TbCustomer]
GO
ALTER TABLE [dbo].[TbSalesInvoice]  WITH CHECK ADD  CONSTRAINT [FK_TbSalesInvoice_TbDeliveryMan] FOREIGN KEY([DeliveryManId])
REFERENCES [dbo].[TbDeliveryMan] ([DeliveryManId])
GO
ALTER TABLE [dbo].[TbSalesInvoice] CHECK CONSTRAINT [FK_TbSalesInvoice_TbDeliveryMan]
GO
ALTER TABLE [dbo].[TbSalesInvoiceItem]  WITH CHECK ADD  CONSTRAINT [FK_TbSalesInvoiceItem_TbItem] FOREIGN KEY([ItemId])
REFERENCES [dbo].[TbItem] ([ItemId])
GO
ALTER TABLE [dbo].[TbSalesInvoiceItem] CHECK CONSTRAINT [FK_TbSalesInvoiceItem_TbItem]
GO
ALTER TABLE [dbo].[TbSalesInvoiceItem]  WITH CHECK ADD  CONSTRAINT [FK_TbSalesInvoiceItem_TbSalesInvoice] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[TbSalesInvoice] ([InvoiceId])
GO
ALTER TABLE [dbo].[TbSalesInvoiceItem] CHECK CONSTRAINT [FK_TbSalesInvoiceItem_TbSalesInvoice]
GO
ALTER TABLE [dbo].[TbSubCategory]  WITH CHECK ADD  CONSTRAINT [FK_TbSubCategory_TbCategory] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[TbCategory] ([CategoryId])
GO
ALTER TABLE [dbo].[TbSubCategory] CHECK CONSTRAINT [FK_TbSubCategory_TbCategory]
GO
USE [master]
GO
